/* body {
  background: linear-gradient(120deg, #0000ff, #b22222);
} */

.navbar {
  height: 80px;
  padding: 0;
}

.btn-navbar img {
  width: 60px;
}

.modal-wind {
  max-width: 100%;
}

.add-form button {
  width: 100%;
}

.form-control {
  margin: 10px 0;
}

.posts {
  margin-bottom: 40px;
}

.post button {
  border: none;
  background: transparent;
}
.btn-delete img,
.btn-edit img {
  width: 30px;
}

.btn-edit {
  margin-right: 10px;
  padding-left: 0;
}

.card-title {
  margin-top: 15px;
}
