body {
  /* background: linear-gradient(120deg, #0000ff, #b22222); */
  background: black;
}
.navbar {
  background: linear-gradient(120deg, #0000ff, #b22222);
}
.card {
  box-shadow: 0px -1px 0px 4px rgba(34, 76, 189, 1);
  -webkit-box-shadow: 0px -1px 0px 4px rgba(34, 76, 189, 1);
  -moz-box-shadow: 0px -1px 0px 4px rgba(34, 76, 189, 1);
}
.card-desc {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.navbar {
  height: 80px;
  padding: 0;
}

.btn-navbar img {
  width: 60px;
}

.modal-wind {
  max-width: 100%;
}

.add-form button {
  width: 100%;
}

.form-control {
  margin: 10px 0;
}

.posts {
  margin-bottom: 40px;
}

.post button {
  border: none;
  background: transparent;
}
.btn-delete img,
.btn-edit img,
.btn-like img {
  width: 30px;
}

.btn-edit {
  margin-right: 10px;
  padding-left: 0;
}

.card-title {
  margin-top: 15px;
}
